html {
  min-height: 100%;
}

.border-radius {
  border-radius: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(250, 74, 16, 1) 0%,
    rgba(214, 71, 39, 1) 98%
  );
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.container {
  background-color: #f8f8ff;
}
header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
}
.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin: 0;
}
.lista-citas .cita button {
  margin-top: 1rem !important;
}
.lista-citas .cita span {
  font-weight: bold;
}
textarea {
  height: 200px !important;
}

svg {
  width: 21px;
}
